[submodule "repos/Lebrijay02/01-basic-html"]
	path = repos/Lebrijay02/01-basic-html
	url = https://github.com/Lebrijay02/01-basic-html
[submodule "repos/Diegogtz03/HTML-class-exercises"]
	path = repos/Diegogtz03/HTML-class-exercises
	url = https://github.com/Diegogtz03/HTML-class-exercises
[submodule "repos/a01721732/TC3005B_A01721732"]
	path = repos/a01721732/TC3005B_A01721732
	url = https://github.com/a01721732/TC3005B_A01721732
[submodule "repos/adrian-rmz/a00830640-web"]
	path = repos/adrian-rmz/a00830640-web
	url = https://github.com/adrian-rmz/a00830640-web
[submodule "repos/marcopod/01-basic-html"]
	path = repos/marcopod/01-basic-html
	url = https://github.com/marcopod/01-basic-html
[submodule "repos/Fausto420/A01412004moduloweb"]
	path = repos/Fausto420/A01412004moduloweb
	url = https://github.com/Fausto420/A01412004moduloweb
[submodule "repos/Bdelas777/WizelineClass"]
	path = repos/Bdelas777/WizelineClass
	url = https://github.com/Bdelas777/WizelineClass
[submodule "repos/JoseCSG/html_clases"]
	path = repos/JoseCSG/html_clases
	url = https://github.com/JoseCSG/html_clases
[submodule "repos/Peco1503/01-basic-html"]
	path = repos/Peco1503/01-basic-html
	url = https://github.com/Peco1503/01-basic-html
[submodule "repos/CaroGzzLeal/TC3005B_Web"]
	path = repos/CaroGzzLeal/TC3005B_Web
	url = https://github.com/CaroGzzLeal/TC3005B_Web
[submodule "repos/RoJosGaRis/01-basic"]
	path = repos/RoJosGaRis/01-basic
	url = https://github.com/RoJosGaRis/01-basic
[submodule "repos/sofia-cantu/WebLearning"]
	path = repos/sofia-cantu/WebLearning
	url = https://github.com/sofia-cantu/WebLearning
[submodule "repos/KrakenDominguezz/Actividades_Web"]
	path = repos/KrakenDominguezz/Actividades_Web
	url = https://github.com/KrakenDominguezz/Actividades_Web
[submodule "repos/JulioEmmmanuel/web-activities"]
	path = repos/JulioEmmmanuel/web-activities
	url = https://github.com/JulioEmmmanuel/web-activities
[submodule "repos/pedroalonsoms/html-clases"]
	path = repos/pedroalonsoms/html-clases
	url = https://github.com/pedroalonsoms/html-clases
[submodule "repos/oznerx/Actividad-Web-1-HTML"]
	path = repos/oznerx/Actividad-Web-1-HTML
	url = https://github.com/oznerx/Actividad-Web-1-HTML
[submodule "repos/GabrielRuizMiller/a00835179_html_basico"]
	path = repos/GabrielRuizMiller/a00835179_html_basico
	url = https://github.com/GabrielRuizMiller/a00835179_html_basico
[submodule "repos/Felipegonac0/ActividadesWeb"]
	path = repos/Felipegonac0/ActividadesWeb
	url = https://github.com/Felipegonac0/ActividadesWeb
[submodule "repos/EduardodeValle/01-basic-html"]
	path = repos/EduardodeValle/01-basic-html
	url = https://github.com/EduardodeValle/01-basic-html
[submodule "repos/TheNullPower/TC3005B-Web"]
	path = repos/TheNullPower/TC3005B-Web
	url = https://github.com/TheNullPower/TC3005B-Web
[submodule "repos/rviz/WebAvanzado6to"]
	path = repos/rviz/WebAvanzado6to
	url = https://github.com/rviz/WebAvanzado6to
[submodule "repos/ChalkyMuffin/HTML-basico"]
	path = repos/ChalkyMuffin/HTML-basico
	url = https://github.com/ChalkyMuffin/HTML-basico
[submodule "repos/Eugenio2002-tec/Eugenio-web"]
	path = repos/Eugenio2002-tec/Eugenio-web
	url = https://github.com/Eugenio2002-tec/Eugenio-web
[submodule "repos/GabrielRuizMiller/03-profile"]
	path = repos/GabrielRuizMiller/03-profile
	url = https://github.com/GabrielRuizMiller/03-profile
[submodule "repos/Hugoalv79/WizelineWebClass"]
	path = repos/Hugoalv79/WizelineWebClass
	url = https://github.com/Hugoalv79/WizelineWebClass
[submodule "repos/lapl13/clase-web"]
	path = repos/lapl13/clase-web
	url = https://github.com/lapl13/clase-web
[submodule "repos/Valenriquez/XploreTailwindCSS"]
	path = repos/Valenriquez/XploreTailwindCSS
	url = https://github.com/Valenriquez/XploreTailwindCSS
[submodule "repos/Lebrijay02/04-nestjs-rick-and-morty"]
	path = repos/Lebrijay02/04-nestjs-rick-and-morty
	url = https://github.com/Lebrijay02/04-nestjs-rick-and-morty
[submodule "repos/GabrielRuizMiller/04-nextjs-rick-and-morty"]
	path = repos/GabrielRuizMiller/04-nextjs-rick-and-morty
	url = https://github.com/GabrielRuizMiller/04-nextjs-rick-and-morty
[submodule "repos/Cherry-Ayala/WebTC3005B.101"]
	path = repos/Cherry-Ayala/WebTC3005B.101
	url = https://github.com/Cherry-Ayala/WebTC3005B.101
[submodule "repos/SofiRegiM/rick-morty"]
	path = repos/SofiRegiM/rick-morty
	url = https://github.com/SofiRegiM/rick-morty
[submodule "repos/AlexMendozaPrado/04-nestjs-rick-and-morty"]
	path = repos/AlexMendozaPrado/04-nestjs-rick-and-morty
	url = https://github.com/AlexMendozaPrado/04-nestjs-rick-and-morty
[submodule "repos/lapl13/04-nextjs-rick-and-morty.git"]
	path = repos/lapl13/04-nextjs-rick-and-morty.git
	url = https://github.com/lapl13/04-nextjs-rick-and-morty.git
[submodule "repos/A01411926/rickandmorty"]
	path = repos/A01411926/rickandmorty
	url = https://github.com/A01411926/rickandmorty
[submodule "repos/A01411926/6to-semestre"]
	path = repos/A01411926/6to-semestre
	url = https://github.com/A01411926/6to-semestre
